<?xml version="1.0"?>
<config>
    <modules>
        <Excellence_Caroussel>
            <version>0.1.2</version>
        </Excellence_Caroussel>
    </modules>
    <frontend>
        <routers>
            <caroussel>
                <use>standard</use>
                <args>
                    <module>Excellence_Caroussel</module>
                    <frontName>caroussel</frontName>
                </args>
            </caroussel>
        </routers>
        <layout>
            <updates>
                <caroussel>
                    <file>caroussel.xml</file>
                </caroussel>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<caroussel>
				<use>admin</use>
				<args>
					<module>Excellence_Caroussel</module>
					<frontName>caroussel</frontName>
				</args>
			</caroussel>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<testi>
				<children>
					<items module="caroussel">
						<title>Manage Caroussel</title>
						<sort_order>0</sort_order>
						<action>caroussel/adminhtml_caroussel</action>
					</items>
				</children>
			</testi>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<testi>
                                                    <children>
                                                        <items module="caroussel">
                                                            <title>Manage Caroussel</title>
                                                            <sort_order>0</sort_order>
                                                        </items>
                                                    </children>
                                                </testi>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<caroussel>
					<file>caroussel.xml</file>
				</caroussel>
			</updates>
		</layout>
    </adminhtml>
    <global>
        <models>
            <caroussel>
                <class>Excellence_Caroussel_Model</class>
                <resourceModel>caroussel_mysql4</resourceModel>
            </caroussel>
            <caroussel_mysql4>
                <class>Excellence_Caroussel_Model_Mysql4</class>
                <entities>
                    <caroussel>
                        <table>caroussel</table>
                    </caroussel>
                </entities>
            </caroussel_mysql4>
        </models>
        <resources>
            <caroussel_setup>
                <setup>
                    <module>Excellence_Caroussel</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </caroussel_setup>
            <caroussel_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </caroussel_write>
            <caroussel_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </caroussel_read>
        </resources>
        <blocks>
            <caroussel>
                <class>Excellence_Caroussel_Block</class>
            </caroussel>
        </blocks>
        <helpers>
            <caroussel>
                <class>Excellence_Caroussel_Helper</class>
            </caroussel>
        </helpers>
    </global>
</config>
