<?xml version="1.0"?>
<config>
    <modules>
        <Excellence_Backgrounds>
            <version>0.1.0</version>
        </Excellence_Backgrounds>
    </modules>
    <frontend>
        <routers>
            <backgrounds>
                <use>standard</use>
                <args>
                    <module>Excellence_Backgrounds</module>
                    <frontName>backgrounds</frontName>
                </args>
            </backgrounds>
        </routers>
    </frontend>
  <admin>
        <routers>
			<backgrounds>
				<use>admin</use>
				<args>
					<module>Excellence_Backgrounds</module>
					<frontName>backgrounds</frontName>
				</args>
			</backgrounds>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<testi module="backgrounds">
 				<children>
					<bitems module="backgrounds">
						<title>Manage Backgrounds</title>
						<sort_order>1</sort_order>
						<action>backgrounds/adminhtml_backgrounds/edit</action>
					</bitems>
				</children>
			</testi>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Excellence_Backgrounds>
							<title>Backgrounds Module</title>
							<sort_order>10</sort_order>
						</Excellence_Backgrounds>
					</children>
				</admin>
                                <admin>
					<children>
						<testi>
                                                    <children>
                                                        <bitems module="backgrounds">
                                                            <title>Backgrounds Module</title>
                                                            <sort_order>11</sort_order>
                                                        </bitems>
                                                    </children>
                                                </testi>
					</children>
				</admin>
			</resources>
		</acl>
    </adminhtml>  
    <global>
        <models>
            <backgrounds>
                <class>Excellence_Backgrounds_Model</class>
                <resourceModel>backgrounds_mysql4</resourceModel>
            </backgrounds>
            <backgrounds_mysql4>
                <class>Excellence_Backgrounds_Model_Mysql4</class>
                <entities>
                    <backgrounds>
                        <table>backgrounds</table>
                    </backgrounds>
                </entities>
            </backgrounds_mysql4>
        </models>
        <resources>
            <backgrounds_setup>
                <setup>
                    <module>Excellence_Backgrounds</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </backgrounds_setup>
            <backgrounds_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </backgrounds_write>
            <backgrounds_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </backgrounds_read>
        </resources>
        <blocks>
            <backgrounds>
                <class>Excellence_Backgrounds_Block</class>
            </backgrounds>
        </blocks>
        <helpers>
            <backgrounds>
                <class>Excellence_Backgrounds_Helper</class>
            </backgrounds>
        </helpers>
    </global>
</config>
